.log-card {
  width: 100%;
}
.quart-width {
  width: auto;
}
.checkbox {
  margin-top: 1%;
}
.content-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content-flex-row {
  display: flex;
  flex-direction: row;
}
.form-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.field-flex {
  width: 80%;
}
.button-flex {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
