<ion-card class="ion-align-self-center log-card" *ngIf="!signUp">
  <ion-card-header>
    <ion-card-title>Log-In</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <div class="content-flex">
      <div>
        <ion-item>
          <ion-label position="floating">Username:</ion-label>
          <ion-input [(ngModel)]="username"></ion-input>
        </ion-item>
        <ion-item *ngIf="!pswChecked">
          <ion-label position="floating">Password:</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
        <ion-item *ngIf="pswChecked">
          <ion-label position="floating">Password:</ion-label>
          <ion-input [(ngModel)]="password"></ion-input>
        </ion-item>
        <ion-checkbox class="checkbox" [(ngModel)]="pswChecked"></ion-checkbox> Show Password
      </div>



      <div class="button-flex">
        <ion-button expand="block" class="quart-width" (click)="toggleSignUp()">No Account? Sign Up</ion-button>
        <ion-button expand="block" class="quart-width" (click)="logIn()">Log-In</ion-button>
      </div>
    </div>
  </ion-card-content>
</ion-card>

<ion-card class="ion-align-self-center log-card" *ngIf="signUp">
  <ion-card-header>
    <ion-card-title>Sign-Up</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <div class="content-flex">
      <div>
        <ion-item>
          <ion-label position="floating">First Name:</ion-label>
          <ion-input [(ngModel)]="firstName"></ion-input>
        </ion-item> <ion-item>
        <ion-label position="floating">Last Name:</ion-label>
        <ion-input [(ngModel)]="lastName"></ion-input>
      </ion-item>

        <ion-item>
          <ion-label position="floating">Email:</ion-label>
          <ion-input [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Username:</ion-label>
          <ion-input [(ngModel)]="username"></ion-input>
        </ion-item>

        <ion-item *ngIf="!pswChecked">
          <ion-label position="floating">Password:</ion-label>
          <ion-input type="password" [(ngModel)]="newPassword"></ion-input>
        </ion-item>
        <ion-item *ngIf="pswChecked">
          <ion-label position="floating">Password:</ion-label>
          <ion-input [(ngModel)]="newPassword"></ion-input>
        </ion-item>
          <ion-checkbox class="checkbox" [(ngModel)]="pswChecked"></ion-checkbox> Show Password
        <ion-item *ngIf="!confChecked">
          <ion-label position="floating">Confirm Password:</ion-label>
          <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
        </ion-item>
        <ion-item *ngIf="confChecked">
          <ion-label position="floating">Confirm Password:</ion-label>
          <ion-input [(ngModel)]="confirmPassword"></ion-input>
        </ion-item>
        <ion-checkbox class="checkbox" [(ngModel)]="confChecked"></ion-checkbox> Show Password

      </div>



      <div class="button-flex">
        <ion-button expand="block" class="quart-width" (click)="toggleSignUp()">Cancel</ion-button>
        <ion-button expand="block" class="quart-width" (click)="signUpCall()">Sign-Up</ion-button>
      </div>
    </div>
  </ion-card-content>
</ion-card>


